# dependencies
**/node_modules
**/vendor

# production
**/dist

# docker
/sql_data
docker-compose.yaml


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.bak

# env files
.env*
!.env.example
